.container-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efefef;
    margin: 0px 70px;
}
.container-child-cartShop {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 70px;
}
.imag-cart {
    width: 300px;
}
.button-volver {
    color: white;
}
a{
    color: white;
}
a:hover {
    color: #655f5b;
    text-decoration: none;
}
.totCompra {
    color: white;
    margin-top: 5px;
}
.containerButtonCompra{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
}
.cartVacio p{
    color: white;
}
.buttonCart {
    display: flex;
    font-size: 10px;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #655f5b;
    color: white;
    margin: 10px 20px;
}
.buttonCart:hover {
    background-color: whitesmoke;
    color: #655f5b;
    border: 1px solid #655f5b;
}
.cartVacio-child {
    width: 50%;
    height: 70em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #655f5b;
    margin: 10px 0px;
    border-radius: 15px;
}