* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-itemDetail-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.container-card-itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    margin: 10px 10px 16px;
    padding: 15px;
    background-color: #21231d;
    overflow: hidden;
}
.container-card-img-itemDetail {
    width: 60%;
    padding: 2px;
    overflow: hidden;

}
.container-card-img-itemDetail img {
    width: 95%;
    position: relative;
}
.container-card-body-itemDetail {
    width: 50%;
    color: white;
    background-color: #655f5b;
    padding-left: 10px;
    font-size: 12px;
}
.container-card-itemDetail h4 {
    font-size: 21px;
    margin: 10px 0px;
    padding: 2px 8px;
}
.container-card-body-itemDetail ul {
    margin: 13px 0px;
}
.container-card-body-itemDetail li {
    list-style: disc;
    padding: 2px 6px 6px 0px;
}
.container-card-body-itemDetail p {
    background-color: darkgray;
    color:rgb(239, 247, 240);
    font-size: 15px;
}
.container-itemDetail-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.img-itemDetail {
    width: 100%;
    position: relative;
    bottom: 53vh;
}
.container-counter-itemDetail {
    color: white;
}
.precioProd {
    font-size: 1.3em;
    font-weight: 500;
}

@media (max-width:780px) {
    .img-itemDetail {
        width: 100%;
        position: relative;
        bottom: 0vh;
    }
    .container-card-itemDetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 10px 10px 0px;
        padding: 10px;
        background-color: #21231d;
        height: auto;
    }
    .container-card-img-itemDetail {
        width: 100%;
        padding: 2px;
        overflow: hidden;
    }
    .container-card-body-itemDetail {
        width: 100%;
        background-color: #655f5b;
        padding-left: 10px;
        font-size: 12px;
       
    }
    .container-card-img-itemDetail img {
        width: 100%;
        position: relative;
    }
}
