.container-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #21231d;
    margin: 0px 70px;
    
}
.container-modal-child {
    top: 25%;
   
}
.modal-content {
    color: white;
    background-color: #655f5b;
}
.modal-body{
    font-variant: all-petite-caps;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-header {
    display: flex;
    justify-content: center;
}
.buyers {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-order {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-button-orders{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.modal-footer {
    font-size: 70%;
    justify-content: center;
}
