.container-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #21231d;
    margin: 0px 70px;
    
}
.container-modal-child {
    top: 25%;
}
.container-modal-child h5{
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal-content {
    color: rgb(15, 15, 15);
    background-color: #f3f3f3;
    border: 2px solid rgb(182, 178, 178);
}
.modal-body{
    font-variant: all-petite-caps;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-header {
    display: flex;
    justify-content: center;
}
.buyers, .container-order, .order-total {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.buyers li, .container-order li, .order-total li{
    padding: 0px;
}
 
.buyers li b, .container-modal-child p, .order-total b, .container-order b {
    color: black;
    font-weight: 600;
}

.container-button-orders{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.modal-footer {
    font-size: 70%;
    justify-content: center;
}
.container-modal-child span{
    color: black;
}
hr {
    width: 100%;
    color: rgb(155, 145, 145);
    margin: 3px;
}
.orderUsuarioId{
    color: tomato;
}
@media print{
    .container-button-orders{
        display: none;
    }
}