@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.container-productos-HotSale {
        background-image:url(../../Assets/hotsale2.jpg);
        margin: 0px 70px;
}
.catalogo-HotSale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(65, 62, 62);
}
.container-tit-HotSale h2 {
    font-family: 'New Tegomin', serif;
    font-size: 7vh;
    font-weight: 900;
    color: white;
    margin: 10px 0px;
}
.container-tit-HotSale p {
    font-family: 'New Tegomin', serif;
    font-size: 3vh;
    font-weight: 200;
    color: #f5f23b;
    margin: 10px 0px;
}
.container-tit-HotSale img {
 position: absolute;
 z-index: 1;
 right: 79px;
 width: 16%;
}
.container-card-HotSale {
    margin: 20px 0px;
}
.container-img-catalogo {
    width: 100%;
}
.img-catalogo {
    width: 100%;
}
@media (max-width:480px) {
    .container-productos-HotSale {
        background-color: #efefef;
        margin: 0px;
    }
    .container-tit-HotSale {
        font-size: 4vh;
        color: #2d597a;
        margin: 10px 0px;
    }
    .container-tit-HotSale img {
        position: absolute;
        z-index: 1;
        right: 20px;
        width: 25%;
       }
       .container-tit-HotSale h2 {
        display: none;
    }
    .container-tit-HotSale p {
        font-family: 'New Tegomin', serif;
        font-size: 3vh;
        font-weight: 200;
        color: #f5f23b;
        margin: 10px 5px;
        width: 67%;
    }
}