.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
img {
    width: 6vh;
}
.button-carrito {
    display: flex;
    font-size: 14px;
    align-items: center;  
    height: 30px;
    color: white;
}