@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
.container-card-child{
    width: 100%;
    height: 100%;
}
.container-img-card {
    height: 215px;
    padding: 3px;
    overflow: hidden;
}
.button-Caraterist {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    border: 1px solid darkgray;
    background-color: darkgray;
    color: white;
}
.button-Caraterist:hover {
    background-color: tomato;
    text-decoration: none;
    border: none;
}
.button-link:hover{
    text-decoration: none;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    font-family: 'New Tegomin', serif;
    font-weight: 700;
    padding: 3px 5px;
}
.line-sizes {
    font-size: 9px;
}
.card-tittle {
    font-size: 1.0rem;
}
.card-price{
    font-size: 13px;
}
@media (max-width:480px) {
    .line-sizes {
        display: none;
    }
    .card-body{
        padding: 3px;
    }
    .card-tittle{
        font-size: 1.0rem;
    }
}
@media (min-width: 481px) and (max-width: 700px) {
    .line-sizes {
        display: none;
    }
    .card-tittle{
        font-size: 1.0rem;
        margin: 0px;
    }
    .button-Caraterist{
        padding: 3px;
    }
    .container-img-card {
        height: 19vh;
        padding: 3px;
        overflow: hidden;
    }
}