.mr-auto {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 0px!important;
}
.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(91, 91,91, 0.4);
    position: absolute;
    top: 0;
    z-index: 2;
}
.container-nav-child {
    display: flex;
    justify-content: center;
    width: 100%;
}
li {
    list-style: none;
    padding: 10px;
}
li a {
    color: white;
}
li a:hover {
    color:rgb(16, 19, 11);
}
.App-logo {
    width: 15vh;
    border-radius: 50%;
    padding: 6px;
    margin-right: 20px;
}
.dropdown-menu {
    background-color: rgba(91, 91,91, 0.4);
}
@media (max-width:480px) {
    .mr-auto  {
       display: flex;
       flex-direction: column; 
    }
    li {
        margin: 1px 0;
        padding: 0;
    }
    .container-img {
        margin-top: 10px;

    }
    .dropdown-menu {
        background-color: rgba(91, 91,91, 0.9);
    }
}