.container-gallerySend {
    background-color: #efefef;
    margin: 0px 70px;
    height: 185px;
}
.imageGallery{
    width: 12%;
    padding: 5px;
}
.container-figures{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 5px;
}

@media (max-width:480px) {
    .container-gallerySend {
        background-color: #efefef;
        margin: 0px;
        height: 130px;
    }
    .imageGallery{
        width: 17%;
        padding: 5px;
    }
    .footer-figures {
        color: #450af9;
        font-size: 11px;
    }
}
@media (min-width: 480px) and (max-width: 700px) {
    .container-gallerySend {
        background-color: #efefef;
        margin: 0px 40px;
        height: 135px;
    }
    .footer-figures {
        color: #450af9;
        font-size: 11px;
    }
 }