.App {
  text-align: center;
  background-color: #efefef; 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}
