.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: #d5d9df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}
