.container-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.container-buttons-child {
    display: flex;
    align-items: center;
    padding: 5px;
}
.buttonComprar {
    display: flex;
    font-size: 10px;
    align-items: center;
    border: 1px solid darkgray;
    background-color: darkgray;
    color: darkgreen;
}
.buttonComprar:hover {
    background-color: rgb(60, 55, 121);
    color: rgb(244, 244, 245);
    border: 1px solid white;
}
.buttonSumar, .buttonRestar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 28px;
    background-color: rgb(31, 177, 116);
    border-color: rgb(31, 177, 116);
    color: cornsilk;
    width: max-content;
}
.container-counter {
    display: flex;
    justify-content: center;
    width: 15px;
    align-items: center;
    margin: 2px 8px;
}
.container-counter-stock {
    margin: 1px 2px;
    display: flex;
    text-align: center;
    background-color: burlywood;
}