@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container-productos {
        background-color: #efefef;
        margin: 0px 70px;
}
.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(65, 62, 62);
}
.container-tit {
    font-family: 'Indie Flower', cursive;
    font-size: 7vh;
    font-weight: 600;
    color: #2d597a;
    margin: 10px 0px;
}
.container-card {
    margin: 20px 30px;
}
.container-img-catalogo {
    width: 100%;
}
.img-catalogo {
    width: 100%;
}
@media (max-width:480px) {
    .container-productos {
        background-color: #efefef;
        margin: 0px;
    }
    .container-tit {
        font-size: 4vh;
        color: #2d597a;
        margin: 10px 0px;
    }
}