.container-productos {
        background-color: #efefef;
        margin: 0px 70px;
}
.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(65, 62, 62);
}
.container-tit {
    font-size: 6vh;
    color: royalblue;
    margin: 10px 0px;
}
.container-card {
    margin: 20px 30px;
}
.container-img-catalogo {
    width: 100%;
}
.img-catalogo {
    width: 100%;
}
@media (max-width:480px) {
    .container-productos {
        background-color: #efefef;
        margin: 0px;
    }
}